    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-beer-drink-jar-outline:before { content: "\f100"; }
.flaticon-beer-glass:before { content: "\f101"; }
.flaticon-big-drink-glass-with-bubbles:before { content: "\f102"; }
.flaticon-big-full-drink-glass-from-side-view:before { content: "\f103"; }
.flaticon-black-beverage-glass-striped-tool-side-view:before { content: "\f104"; }
.flaticon-bottle-dark-big-shape-with-oval-label:before { content: "\f105"; }
.flaticon-bottle-of-water:before { content: "\f106"; }
.flaticon-box-liquid-food-container-outline:before { content: "\f107"; }
.flaticon-brindis-of-soda-glasses-couple:before { content: "\f108"; }
.flaticon-brindis-with-wine-glasses:before { content: "\f109"; }
.flaticon-bubbles-drink-glass-container-with-a-straw:before { content: "\f10a"; }
.flaticon-champagne-drink-glass:before { content: "\f10b"; }
.flaticon-cocktail:before { content: "\f10c"; }
.flaticon-cocktail-drink-glass-with-an-olive:before { content: "\f10d"; }
.flaticon-cocktail-drink-glass-with-lemon-slice:before { content: "\f10e"; }
.flaticon-cocktail-glass-from-side-view:before { content: "\f10f"; }
.flaticon-cocktail-glass-with-an-umbrella:before { content: "\f110"; }
.flaticon-cocktail-glass-with-lemon:before { content: "\f111"; }
.flaticon-cocktail-glass-with-lemon-slice:before { content: "\f112"; }
.flaticon-cocktail-glass-with-lemon-slice-on-the-border:before { content: "\f113"; }
.flaticon-coffee-beans-outline:before { content: "\f114"; }
.flaticon-coffee-creamy-glass-side-view:before { content: "\f115"; }
.flaticon-coffee-cup-outline:before { content: "\f116"; }
.flaticon-coffee-jar-of-rounded-shape:before { content: "\f117"; }
.flaticon-coffee-rounded-jar:before { content: "\f118"; }
.flaticon-coffee-seeds:before { content: "\f119"; }
.flaticon-cold-drink-glass-with-ice-cubes:before { content: "\f11a"; }
.flaticon-commercial-drink-glass-with-cover:before { content: "\f11b"; }
.flaticon-cool-drink-glass-with-a-straw-and-ice-cubes-floating-in-dark-liquid:before { content: "\f11c"; }
.flaticon-corkscrew:before { content: "\f11d"; }
.flaticon-corkscrew-1:before { content: "\f11e"; }
.flaticon-cup:before { content: "\f11f"; }
.flaticon-cup-side-view-outline-with-a-heart-romantic-symbol:before { content: "\f120"; }
.flaticon-dark-liquor-in-bottle:before { content: "\f121"; }
.flaticon-drink-beer-jar:before { content: "\f122"; }
.flaticon-drink-big-tall-glass-with-soda:before { content: "\f123"; }
.flaticon-drink-bottle:before { content: "\f124"; }
.flaticon-drink-box-black-container-shape:before { content: "\f125"; }
.flaticon-drink-can:before { content: "\f126"; }
.flaticon-drink-can-of-unhealthy-aluminum-material:before { content: "\f127"; }
.flaticon-drink-container-with-cover:before { content: "\f128"; }
.flaticon-drink-elegant-glass-of-triangular-shape-full-of-liquid:before { content: "\f129"; }
.flaticon-drink-glass-full-of-wine:before { content: "\f12a"; }
.flaticon-drink-glass-outline-with-lemon-slice-and-straw:before { content: "\f12b"; }
.flaticon-drink-glass-transparent-container-outline-with-white-wine:before { content: "\f12c"; }
.flaticon-drink-glass-with-beverage-inside:before { content: "\f12d"; }
.flaticon-drink-glass-with-soda-and-straw:before { content: "\f12e"; }
.flaticon-drink-glass-with-straw:before { content: "\f12f"; }
.flaticon-drink-hot-cup-black-side-view-silhouette:before { content: "\f130"; }
.flaticon-drink-in-transparent-glass-bottle:before { content: "\f131"; }
.flaticon-drink-in-transparent-glass-with-a-straw:before { content: "\f132"; }
.flaticon-drink-set-outline-of-glass-with-a-straw:before { content: "\f133"; }
.flaticon-drink-striped-glass-with-straw:before { content: "\f134"; }
.flaticon-drink-tall-glass-with-soda:before { content: "\f135"; }
.flaticon-fresh-soda-glass-with-lemon-slice-and-straw:before { content: "\f136"; }
.flaticon-glass-outline-of-striped-design-with-cover:before { content: "\f137"; }
.flaticon-glass-transparent-with-drink-and-straw:before { content: "\f138"; }
.flaticon-glass-with-dark-drink:before { content: "\f139"; }
.flaticon-hot-coffee-cup-on-a-plate:before { content: "\f13a"; }
.flaticon-hot-coffee-jar:before { content: "\f13b"; }
.flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view:before { content: "\f13c"; }
.flaticon-metallic-drink-jar:before { content: "\f13d"; }
.flaticon-milk-box:before { content: "\f13e"; }
.flaticon-soda-or-coffee-covered-glass:before { content: "\f13f"; }
.flaticon-soda-or-coffee-covered-glass-1:before { content: "\f140"; }
.flaticon-soda-striped-glass-side-view:before { content: "\f141"; }
.flaticon-tall-drink-glass-with-dark-soda-inside:before { content: "\f142"; }
.flaticon-tall-glass-with-transparence-full-of-drink-with-a-straw:before { content: "\f143"; }
.flaticon-tall-jar-for-coffee-or-tea:before { content: "\f144"; }
.flaticon-tea-jar:before { content: "\f145"; }
.flaticon-teapot-black-side-view-shape:before { content: "\f146"; }
.flaticon-transparent-glass-with-cold-drink-with-ice-cubes-couple:before { content: "\f147"; }
.flaticon-water-bottle:before { content: "\f148"; }
.flaticon-water-glass-with-bubbles:before { content: "\f149"; }
.flaticon-wine-bottle:before { content: "\f14a"; }
.flaticon-wine-dark-bottle:before { content: "\f14b"; }
.flaticon-wine-drink-glass:before { content: "\f14c"; }
.flaticon-wine-full-glass:before { content: "\f14d"; }
.flaticon-wine-glass:before { content: "\f14e"; }
.flaticon-wine-glass-full-of-drink:before { content: "\f14f"; }
    
    $font-Flaticon-beer-drink-jar-outline: "\f100";
    $font-Flaticon-beer-glass: "\f101";
    $font-Flaticon-big-drink-glass-with-bubbles: "\f102";
    $font-Flaticon-big-full-drink-glass-from-side-view: "\f103";
    $font-Flaticon-black-beverage-glass-striped-tool-side-view: "\f104";
    $font-Flaticon-bottle-dark-big-shape-with-oval-label: "\f105";
    $font-Flaticon-bottle-of-water: "\f106";
    $font-Flaticon-box-liquid-food-container-outline: "\f107";
    $font-Flaticon-brindis-of-soda-glasses-couple: "\f108";
    $font-Flaticon-brindis-with-wine-glasses: "\f109";
    $font-Flaticon-bubbles-drink-glass-container-with-a-straw: "\f10a";
    $font-Flaticon-champagne-drink-glass: "\f10b";
    $font-Flaticon-cocktail: "\f10c";
    $font-Flaticon-cocktail-drink-glass-with-an-olive: "\f10d";
    $font-Flaticon-cocktail-drink-glass-with-lemon-slice: "\f10e";
    $font-Flaticon-cocktail-glass-from-side-view: "\f10f";
    $font-Flaticon-cocktail-glass-with-an-umbrella: "\f110";
    $font-Flaticon-cocktail-glass-with-lemon: "\f111";
    $font-Flaticon-cocktail-glass-with-lemon-slice: "\f112";
    $font-Flaticon-cocktail-glass-with-lemon-slice-on-the-border: "\f113";
    $font-Flaticon-coffee-beans-outline: "\f114";
    $font-Flaticon-coffee-creamy-glass-side-view: "\f115";
    $font-Flaticon-coffee-cup-outline: "\f116";
    $font-Flaticon-coffee-jar-of-rounded-shape: "\f117";
    $font-Flaticon-coffee-rounded-jar: "\f118";
    $font-Flaticon-coffee-seeds: "\f119";
    $font-Flaticon-cold-drink-glass-with-ice-cubes: "\f11a";
    $font-Flaticon-commercial-drink-glass-with-cover: "\f11b";
    $font-Flaticon-cool-drink-glass-with-a-straw-and-ice-cubes-floating-in-dark-liquid: "\f11c";
    $font-Flaticon-corkscrew: "\f11d";
    $font-Flaticon-corkscrew-1: "\f11e";
    $font-Flaticon-cup: "\f11f";
    $font-Flaticon-cup-side-view-outline-with-a-heart-romantic-symbol: "\f120";
    $font-Flaticon-dark-liquor-in-bottle: "\f121";
    $font-Flaticon-drink-beer-jar: "\f122";
    $font-Flaticon-drink-big-tall-glass-with-soda: "\f123";
    $font-Flaticon-drink-bottle: "\f124";
    $font-Flaticon-drink-box-black-container-shape: "\f125";
    $font-Flaticon-drink-can: "\f126";
    $font-Flaticon-drink-can-of-unhealthy-aluminum-material: "\f127";
    $font-Flaticon-drink-container-with-cover: "\f128";
    $font-Flaticon-drink-elegant-glass-of-triangular-shape-full-of-liquid: "\f129";
    $font-Flaticon-drink-glass-full-of-wine: "\f12a";
    $font-Flaticon-drink-glass-outline-with-lemon-slice-and-straw: "\f12b";
    $font-Flaticon-drink-glass-transparent-container-outline-with-white-wine: "\f12c";
    $font-Flaticon-drink-glass-with-beverage-inside: "\f12d";
    $font-Flaticon-drink-glass-with-soda-and-straw: "\f12e";
    $font-Flaticon-drink-glass-with-straw: "\f12f";
    $font-Flaticon-drink-hot-cup-black-side-view-silhouette: "\f130";
    $font-Flaticon-drink-in-transparent-glass-bottle: "\f131";
    $font-Flaticon-drink-in-transparent-glass-with-a-straw: "\f132";
    $font-Flaticon-drink-set-outline-of-glass-with-a-straw: "\f133";
    $font-Flaticon-drink-striped-glass-with-straw: "\f134";
    $font-Flaticon-drink-tall-glass-with-soda: "\f135";
    $font-Flaticon-fresh-soda-glass-with-lemon-slice-and-straw: "\f136";
    $font-Flaticon-glass-outline-of-striped-design-with-cover: "\f137";
    $font-Flaticon-glass-transparent-with-drink-and-straw: "\f138";
    $font-Flaticon-glass-with-dark-drink: "\f139";
    $font-Flaticon-hot-coffee-cup-on-a-plate: "\f13a";
    $font-Flaticon-hot-coffee-jar: "\f13b";
    $font-Flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view: "\f13c";
    $font-Flaticon-metallic-drink-jar: "\f13d";
    $font-Flaticon-milk-box: "\f13e";
    $font-Flaticon-soda-or-coffee-covered-glass: "\f13f";
    $font-Flaticon-soda-or-coffee-covered-glass-1: "\f140";
    $font-Flaticon-soda-striped-glass-side-view: "\f141";
    $font-Flaticon-tall-drink-glass-with-dark-soda-inside: "\f142";
    $font-Flaticon-tall-glass-with-transparence-full-of-drink-with-a-straw: "\f143";
    $font-Flaticon-tall-jar-for-coffee-or-tea: "\f144";
    $font-Flaticon-tea-jar: "\f145";
    $font-Flaticon-teapot-black-side-view-shape: "\f146";
    $font-Flaticon-transparent-glass-with-cold-drink-with-ice-cubes-couple: "\f147";
    $font-Flaticon-water-bottle: "\f148";
    $font-Flaticon-water-glass-with-bubbles: "\f149";
    $font-Flaticon-wine-bottle: "\f14a";
    $font-Flaticon-wine-dark-bottle: "\f14b";
    $font-Flaticon-wine-drink-glass: "\f14c";
    $font-Flaticon-wine-full-glass: "\f14d";
    $font-Flaticon-wine-glass: "\f14e";
    $font-Flaticon-wine-glass-full-of-drink: "\f14f";