html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  border-radius: 0;
}

/* KIRJAUTUMISSIVU */

#banner {
  height: 24rem;
  background: linear-gradient(-110deg, #7ADD50, #BBF3A3);
  padding: 3rem;
}

#banner h1 {
    text-align: center;
    font-size: 6rem;
}

.content {
  height: 100rem;
  background-color: #e3e7ea;
  padding: 8rem;
}

#kirjautuminen {
  height: 40rem;
  margin-left: auto;
  margin-right: auto;
}

#kirjautuminen .form-group {
  margin-bottom: 3rem;
  /* vertical-align: middle; */
}

.login-icon {
  font-size: 2.4rem;
}

#kirjautumissivu-kuvaus {
  font-size: 1.8rem;
}

/* ------------------------ */

/* ANNOSLASKURI-SIVU ------ */

.otsikko {
  text-align: center;
  margin: 3rem;
}

.placeh {
  height: 100rem;
}

#annoslaskuri-container {
  background-color: #e3e7ea;
  height: auto;
  overflow-y: auto;
}



#juomakuvakegrid-container {
  padding: 2rem 0 2rem 0;

}

.juomakuvake-container {
  padding: 1rem;
  text-align: center;
}

.juoma-icon {
  font-size: 2rem;
}

.juomakuvake {
  background-color: white;
  height: 10rem;
  width: 15rem;
  border-width: 1px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-shadow: 5px;
}

.juomakuvake:hover {
  background-color: #D8D8D8;

}

#lista_ja_toiminnot {
  margin-top: 5rem;
}

/* ------------------------ */

/* NAVBAR ----------------- */

#nav-alkkis {
  background: linear-gradient(-110deg, #7ADD50, #BBF3A3);
  height: 8rem;
  border: 0;
  color: black;
  margin: 0;
}

#nav-alkkis a, .navbar-brand, .nav, .navbar-nav, li {
  color: black;
}

#nav-alkkis div {
  vertical-align: middle;
}

/* ------------------------ */