html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* KIRJAUTUMISSIVU */

#banner {
  height: 24rem;
  background: linear-gradient(-110deg, #7ADD50, #BBF3A3);
  padding: 6rem;
}

#banner h1 {
    text-align: center;
    font-size: 6rem;
}

.content {
  height: 100rem;
  background-color: #e3e7ea;
  padding: 8rem;
}

#kirjautuminen {
  padding-top: 4rem;
  height: 32rem;
  margin-left: auto;
  margin-right: auto;
}

#kirjautuminen .form-group {
  margin-bottom: 3rem;
  /* vertical-align: middle; */
}

.login-icon {
  font-size: 2.4rem;
}

#kirjautumissivu-kuvaus {
  font-size: 1.8rem;
}

/* ------------------------ */

/* ANNOSLASKURI-SIVU ------ */

.otsikko {
  text-align: center;
  margin: 3rem;
}

#unit-calculator-container {
  position: relative;
  overflow: hidden;
}

#unit-calculator-container:after {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   background-image: url('./images/counter_fancy.jpg');
   background-repeat: repeat;
   width: 100%;
   height: 100%;
   opacity : 0.3;
   z-index: -2;
}

.unit-calculator-wrapper {
  height: 100%;
}

#unit-calculator-controls {
  padding-top: 1rem;
  position: relative;
  z-index: 1;
  padding: 1rem;
  padding-bottom: 4rem;
  margin-bottom: -1rem;
  background-color: #BBF3A3;
  width: 100%;
  border: 0.1rem solid gray;
  border-radius: 1rem;
  opacity: 0.94;
}

#juomakuvakegrid-container {
  padding: 2rem 0 2rem 0;

}

.juomakuvake-container {
  padding: 1rem;
  text-align: center;
}

.drink-icon {
  height: 4rem;
  margin-bottom: 0.4rem
}

.juomakuvake {
  background-color: white;
  height: 14rem;
  width: 14rem;
  border-width: 1px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  padding-top: 3rem;
  font-size: 1.6rem;
  border: 0.1rem solid black;
  border-radius: 33%;
  box-shadow: 0.2rem 0.2rem dimgray;
}

.juomakuvake:hover {
  background-color: #D8D8D8;
}

.juomakuvake:active {
  position: relative;
  top: 2px;
  left: 1px;
}

#unit-counter-container {
  text-align: center;
}

#juomalista {
  margin-top: 2rem;
}

#juomalista p {
  margin: 3.1rem;
  text-align: center;
}

.drink-list-item {
  height: 4.2rem;
  padding: 1rem;
}

.drink-list-item span {
  height: 2rem;
  padding: 0;
}

.list-item-minus, .list-item-plus {
  font-size: 1.8rem;
  height: 3rem;
}

.list-item-plus {
  text-align: right;
}

.list-item-quantity {
  text-align: center;
  background-color: gainsboro;
  border-radius: 1rem;
}

.list-item-minus:hover, .list-item-plus:hover {
  background-color: #D8D8D8;

}

.list-item-data {
  text-overflow: ellipsis; /* mieti miten saa pysymään vain yhel rivil */
}


/* OTHER DRINK MODAL ------ */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.5);
  z-index: 999;
}

.modal-content {
  width: 60rem;
  height: 40rem;
  background-color: white;
}

.close-btn-div {
  text-align: right;
}
.modal-footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: 0;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#units-text {
  height: 4.6rem;
  padding: 0.5rem 1.6rem;
  font-size: 1.8rem;
  line-height: 1.3333333;
  color: #555;
}

.oth-mod-header {
  padding: 0;
}

.alkkis-tab {
  height: 5rem;
  font-size: 1.8rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.alkkis-tab-active {
  background-color: #BBF3A3;
}

.alkkis-tab-active:focus {
  background-color: #BBF3A3;
}

#saved-drink-info {
  font-size: 1.8rem;
}

#saved-drink-select {
  height: 20.3rem;
}

/* ADD RESULT MODAL ------ */
.add-result-modal-content {
  width: 20rem;
  height: 12rem;
  background-color: white;
  text-align: center;
}

/* EDIT ENTRY FORM ------- */

.edit-entry-form-group {
  height: 4.2rem;
}

.edit-entry-field {
  height: 4.2rem;
  text-align: center;
}

#edit-entry-select {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  width: 36.8rem;
}



/* DIARY ----------------- */



#diary-table-container {
  overflow-x: unset;
}

#diary-table-container th, td {
  text-align: center;
}


#diary-tabs-container {
  overflow: hidden;
  margin-bottom: 2rem;
}


/* NAVBAR ----------------- */

#nav-alkkis {
  background: linear-gradient(-110deg, #7ADD50, #BBF3A3);
  /* height: 10rem; */
  border: 0;
  color: black;
  margin: 0;
}

#nav-alkkis a, .navbar-brand, .nav, .navbar-nav, li {
  color: black;
}

.navbar {
  border-radius: 0;
}


/* DATEPICKER ------------- */

.react-datepicker__input-container > input {
  border: 1px solid #ccc;
  text-align: center;
  height: 4.2rem !important;
  width: 36.8rem !important;
}

